.navButtons{
    background-color: white;
    margin-left: 15px;
    padding:5px  10px ;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border:none;
    text-decoration: none;
    color:black;
    display: inline-flex;
    align-items: center;
    
}

.wrapIconsMenu{
margin-top: 3px;
margin-left: 2px;
}