.wrap{
    position: relative; 
    z-index: 9; 
}

.menu{
    width: 1170px;
    padding: 20px;
    margin: 60px auto;
    position: absolute;
    top: 0;
    left: -124px;
    background-color: white;
    transform: translateY(-150%);
    animation: ani 0.7s forwards;
}

    @keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
    }

.wrapMenu{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapImgName{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.wrapImgName > div{
margin-left: 10px;
}

.wrapMenuBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.wrapMenuBtn button{
        margin-top: 40px;
        background-color: gold;
        padding:  15px 20px;
        font-size: 16px;
        border-radius: 8px;
        border:none;
        cursor: pointer;
}