.wrap{
    width: 1170px;
    /* border: 1px solid red; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr  3fr;  padding: 10px;
}
.blockLeftSecondMenu{
    margin-top: 50px;
    border: 1px solid rgb(78, 24, 24);
}
.blockLeftFirstMenu{
    border: 1px solid rgb(78, 24, 24);

}

.wrapLeftImgName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
}


.titleBlockLeft{
    margin-left: 10px;
    margin-right: 15px;
    text-decoration: none;
    color:black
}



.blockRight{
    border: 1px solid black;
}

