.city{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color:black;
    
}

.city:hover{
    background-color: whitesmoke;
}