.wrapInfo{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
}
.wrapInfo h4 {
    margin-bottom: 40px;
}

.wrapCity{
    display: flex;
    align-items: center;
    /* flex-direction: column;
    margin-bottom: 30px; */
    /* border: 2px solid gold; */

}


.localBlock{    padding:0 10px;
    margin-left: 20px;
    width: 320px;
    height: 40px;
    border-radius: 8px 0 0 8px;
    border: 2px solid gold;
    outline: none;
    cursor: pointer;
}
.wrapInput {margin-right: 25px;}
.wrapInput input{
    margin-left: 25px;
}